body {
    background-color: #9BF6FF;
}

h1 {
    font-size: 60px;
    font-family: Verdana;
    text-align: center;
    background-color: papayawhip;
    border: 2px solid #BDB2FF;
    
}

h2 {
    color: white;
    font-family: Verdana;
    text-align: center;
    padding: 20px;

}

p {
    text-align: center;
    font-family: Verdana
}
