body {
    background-color: #151019;
}

/*Estilo do header*/

header {
    background-image: url("../img/header_background.png");
    background-repeat: no-repeat;
    background-position: top right;
    padding: 100px;
    margin: 0px;
}
h1 {
    font-size: 60px;
    font-family: Raleway;
    text-align: center;
    color: lightblue;
    margin: 0px;
    
}
.subtitulo{
    font-size: 20px;
    font-family: 'Lucida Console';
    text-align: center;
    color: white;
}
/*Estilos específicos do header das subpáginas*/
a:link#voltarIndex {
    color: white;
    text-decoration: none;
}

a:visited#voltarIndex {
    color: white;
    text-decoration: none;
}

a:hover#voltarIndex {
    color: white;
    text-decoration: none;
}

/*Estilos do menu principal*/
nav {
    margin: 0px;
}

nav ul {
    list-style-type: none; /*remove os bullets*/
    margin: 0;
    padding: 0;
    background-color: #395069;
    text-align: center;
}

nav li {
    font-family: Oswald;
    display: inline-block;
    /*the major difference is that display: inline-block does not add a line-break after 
        the element, so the element can sit next to other elements.*/
}

nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
}

nav li a:hover {
    color: black;
    background-color: lightblue;
    }

/*Aspeto do item do menu quando a própria página está aberta*/
.item_menu_selecionado {
    color: black;
    background-color: cornflowerblue;
}

/*Estilo do segundo header*/
h2 {
    color: white;
    font-family: Oswald;
    text-align: center;
    padding: 20px;
}

p {
    text-align: center;
    font-family: Raleway;
    color:white
}

/*Estilos dos links*/

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: cornflowerblue;
    text-decoration: none;
}

footer {
    font-size: 12px;
    font-family: Calibri;
    color: white; 
    bottom: 0px;
    text-align: center;
     
}

section {
    min-height: 1000px;
}

/*Animação de fade*/
.animate-in {
    -webkit-animation: fadeIn .5s ease-in;
    animation: fadeIn .5s ease-in;
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

